---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="topbar">
    <h1>Task Tracker</h1>
  </header>
  <div class="app-body">
    <aside class="sidebar">
      <p>Sidebar</p>
    </aside>
    <main class="main-content">
      <section class="tasks-lists">
        <h2>Tasks</h2>
      </section>
      <section class="tasks-notes">
        <h2>Notes</h2>
      </section>
    </main>
  </div>
</Layout>
