---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="topbar">
    <h1>Task Tracker</h1>
  </header>
  <div class="app-body">
    <aside class="sidebar">
      <p>Sidebar</p>
    </aside>
		<main class="main-content">
			<p>Main Content</p>
		</main>
  </div>
</Layout>
