---

---

<aside class="sidebar">
  <nav aria-label="proyectos">
    <ul>
      <li><a href="#">Proyecto 1</a></li>
      <li><a href="#">Proyecto 2</a></li>
      <li><a href="#">Proyecto 3</a></li>
    </ul>
  </nav>
  <footer>
    <a href="#">Settings</a>
  </footer>
</aside>

<style>
  @media screen and (min-width: 768px) {
    .sidebar {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      width: var(--sidebar-expanded-tablet);
    }
  }
  
</style>
